/*RESET CSS*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* /RESET CSS */
/*TABLE SORTER CSS*/
table.tablesorter {

	margin:0px 10px 0px 10px;
	font-size: 8pt;
	width: 940px;
	text-align: left;
	border-bottom: solid 1px #009EE0;
	border-left: solid 1px #009EE0;
	border-right: solid 1px #009EE0;
}
.sanastoTablesorter{
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	font-size: 8pt;
	margin: 0;
	text-align: left;
	width: 100%;
}
.sanasto a{
	text-decoration: none;
	color: #000;
}
.tablesorter a{
	text-decoration: none;
	color: #000;
}
.sanastoTablesorter a{
	text-decoration: none;
	color: #000;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #009EE0;

	font-size: 15px;
	padding: 4px;
	color: #ffF;
}
table.sanastoTablesorter thead tr th, table.sanastoTablesorter tfoot tr th {
	background-color: #009EE0;

	font-size: 15px;
	padding: 4px;
	color: #ffF;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.sanastoTablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr:hover {
	background-color: #eaeaea;
}
table.sanastoTablesorter tbody tr:hover {
	background-color: #eaeaea;
}
table.tablesorter tbody td {
	color: #000;
	padding: 4px;
	
	vertical-align: top;
}
table.sanastoTablesorter tbody td {
	color: #000;
	padding: 4px;
	
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#EAEAEA;
}
table.sanastoTablesorter tbody tr.odd td {
	background-color:#EAEAEA;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.sanastoTablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.sanastoTablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.sanastoTablesorter thead tr .headerSortDown, table.sanastoTablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
/* /TABLE SORTER CSS*/
html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #4A4647;
	color: #242424;
	font-family: "PT Sans Regular","Trebuchet MS",Helvetica,"Helvetica Neue",sans-serif;
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2em;
	min-width: 960px;
	position: relative;
}
header{
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	height: 130px;
	border-top: 3px solid #005993;
}
.headerContainer{
	margin: 0 auto;
    	padding: 0;
    	width: 960px;
}
#logo {
	background: url("../images/img_fsd_logo_fi.png")no-repeat scroll 0 0 transparent;
	clear: left;
	float: left;
	height: 46px;
	margin: 15px 25px 10px 0;
	text-indent: -9999px;
	width: 207px;
}
nav{
	display: inline-block;
}
.mainNavUl{
	
}
.mainNavUl li{
	float: left;

}
.mainNavUl li a.selected{

	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	background-color: #009EE0;
	text-decoration: none;
	color: #fff;
}
.mainNavUl li a{

	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	background-color: #fff;
	text-decoration: none;
	color: #005993;
}
.mainNavUl li a:hover{
	text-decoration: underline;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;

}
footer{
	width:100%;
	height: 150px;
	border-top: 3px solid #fff;
}
.wrapper{
	width: 100%;
	min-height: 600px;
	height: auto;
	background-color: #E1DFDC;
	display: inline-block;
	padding:20px 0;
}
.content{
	margin: 0 auto;
    	padding:0;
    	width: 960px;
	height: 100%;
	min-height: 600px;
	background-color: #fff;
	display: block;
	box-shadow: 10px 10px 5px #888; 
}
.login{
	margin: 50px auto;	
	height: 300px;
	width: 500px;
	border: solid 1px #000;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888; 
}
.loginHeader{
	background-color: #005993;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #005993;
	border-radius: 9px 9px 0 0; 
}
.loginHeader h1{
	color: #fff;
}
.metkaTitle{
	clear: left;
	color: #005993;
	float: left;
	font-size: 35px;
	margin-left: 60px;
	width: 100px;
}
.loginBoxContainer{
	padding:20px;
}
.loginFormRowHolder{
	clear:both;
	margin-bottom: 20px;
}
.loginFormRowHolder label{
	width: 150px;
	display: block;
	float: left;
}
.searchFormRowHolder .shortLabel{
	width: 100px;
	margin-left: 20px;
}
.loginFormInput{
	padding: 5px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border:1px solid #4A4647;

}
.loginFormInput:focus {
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.loginHelperText{
	margin: 10px 0 40px 0;
}
.loginFormSubmit{
	float: right;
	margin-right: 65px;
	padding: 3px 10px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border:1px solid #4A4647;
	cursor: pointer;
}
.loginFormSubmit:focus{
	box-shadow: 0 0 10px #005993;
	-webkit-box-shadow: 0 0 10px #005993; 
	-moz-box-shadow: 0 0 10px #005993;
}
.desktopUpComerBox{
	margin: 20px;

}
.desktopUpComerBoxHeading{
	background-color: #009EE0;
	padding: 10px 0 10px 20px;
	border: solid 1px #009EE0;
}
.desktopUpComerBoxHeading h2{
	color: #fff;
	font-size: 20px;
}
.BoxDataContainer{
	border-left: 1px solid #009EE0;
	border-right: 1px solid #009EE0;
}
.BoxDataRow{
	border-bottom: 1px solid #009EE0;
}
.BoxDataRow a{
	display: block;
	color: #005993;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}
.BoxDataRow a:hover{
	background-color: #EAEAEA;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	color: #000;
}
.searchContainer{
	float: right;
	margin-top: 20px;
}
.searchContainer .searchInput{
	width: 150px;
	padding: 5px;
}
.searchButton{
	background-color: #009EE0;
	border: 1px solid #009EE0;
	border-radius: 0 7px 7px 0;
	color: #FFFFFF;
	height: 29px;
	position: absolute;
	right: -3px;
	top: 1px;
}
.quickSearchForm{
	position: relative;
}
.searchFormContainer{
	margin: 20px;
}
.searchFormRowHolder{
	padding-bottom: 10px;
	clear:both;
}
.searchFormRowHolder label{
	width: 200px;
	display: block;
	float: left;
}
.shorhtSearchInput{
	padding: 5px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #4A4647;
	width: 150px;
	float: left;
}
.shorhtSearchInput:focus{
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.searchInput{
	padding: 5px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #4A4647;
	width: 432px;
}
.formSelect{
	padding: 5px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #4A4647;
	width: 444px;
}
.formSelect:focus{
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.searchInput:focus{
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.searchFormButtonsHolder{
	text-align: right;
	width: 645px; 
}
.searchFormButtonsHolder input{
	margin-left: 20px;
}
.pageTitle{
	font-size: 25px;
	color: #fff;
	border-bottom: solid 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	background-color: #009EE0;
}

.searchFormInput{
	padding: 5px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	background-color: #009EE0;
	color: #fff;
	border:1px solid #009EE0;
	cursor: pointer;

}
.searchFormInput:focus {
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.tabs{
		position: relative;
/*height: 470px;*/
	display: block;
	clear:both;
	min-height: 275px;
}
.tabs2{
/*		position: relative;
height: 470px;*/
	display: block;
	clear:both;
	min-height: 275px;
}
.helpperBox{
	position: absolute;
	right: 0;
	width: 200px;
	background-color: #eaeaea;
	border: solid 1px #000;
	font-size: 12px;
	padding: 10px;
	border-radius: 5px;
}
.queryLibraryContainer{
	position: absolute;
	right: 0;
}
.queryLibrary{

	width: 200px;
	background-color: #fff;
	border: solid 1px #009EE0;
	font-size: 12px;
}
.queryLibrary h1{
	background-color: #009EE0;
	color: #fff;
	font-size: 18px;
	padding: 5px;
}
.queryLibrary ul{
	display: inline-block;
	list-style: none outside none;
	width:200px;
}
.queryLibrary ul li{
	padding: 5px 5px 0 5px;
	width: 190px;
}
.queryLibrary ul li:hover{
	background: #eaeaea;
}
.queryLibrary ul li a{
	text-decoration: none;
	color: #005993;
	display:block;
	width: 100%;
}
.helpperBoxImage{
	float: left;
	padding-right: 10px;
	
}
.saveNewQuery{
	display: none;
	width: 200px;
	background-color: #fff;
	border: solid 1px #009EE0;
	font-size: 12px;
	margin-top: 20px;
}
.saveNewQuery h1{
	background-color: #009EE0;
	color: #fff;
	font-size: 18px;
	padding: 5px;
}
.saveNewQuery label{
	margin-left: 5px;
}
.saveNewQuery .queryName{
	width: 170px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.querySaveBtn{
	margin:5px 10px 5px 5px;
	float: right;
	border: 1px solid #009EE0;
	background-color: #009EE0;
	color: #fff;
	cursor: pointer;
	outline: medium none;
	padding: 5px;
	transition: all 0.25s ease-in-out 0s;
}
.querySaveBtn:focus {
	box-shadow: 0 0 8px #005993;
	-webkit-box-shadow: 0 0 8px #005993; 
	-moz-box-shadow: 0 0 8px #005993;
	
}
.tab2, .tab3, .tab4, .tab5, .tab6, .tab7{
	display: none;
}
.tabNavi ul{
	display: inline-block;
	list-style: none outside none;
	margin-bottom: 20px;
	margin-top: -10px;
	margin-left: -20px;
}
.aineistoTabNavi ul{
	display: inline-block;
	float: left;
	list-style: none outside none;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-top: 10px;}
.tabNavi ul li{
	float: left;
}
.aineistoTabNavi ul li{
	float: left;
}
.tabNavi ul li a {
	background-color: #FFFFFF;
	color: #005993;
	display: block;
	padding: 10px;
	text-decoration: none;
	cursor:pointer;
}
.aineistoTabNavi ul li a {
	background-color: #FFFFFF;
	color: #005993;
	display: block;
	padding: 10px;
	text-decoration: none;
	cursor:pointer;
}
.tabNavi ul li a.selected{
	background-color: #009EE0;
	color: #fff;
	cursor: default;
}
.aineistoTabNavi ul li a.selected{
	background-color: #009EE0;
	color: #fff;
	cursor: default;
}
.sqlSearch{
	height: 200px;
	width: 440px;
}
.searchResult{
	margin-top: 20px;
}
.searchResult{
	display:none;
}
.aineistoUpperContainer{
	margin:10px;
	font-size:12px;
}
.sarjaUpperContainer{
	margin:10px;

} 
.aineistoDataSetTextareaContainer{
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.aineistoDataSetTextareaContainerRight{
	margin-left: 46px;
}
.aineistoDataSetTextareaContainer label{
	width: 400px;
	clear: both;
	display:block;
}
.aineistoDataSetTextareaContainer textarea{
	width: 440px;
	height: 60px;
}
.aineistoRowContainer, .julkaisuRowContainer, .sarjaRowContainer{
	clear: both;
	padding-bottom: 5px;
	display: block;
}
.aineistoDataSetContainer,.julkaisuDataSetContainer, .sarjaDataSetContainer{
	float: left;
}
.aineistoDataSetContainer label{
	display: block;
	float: left;
	margin-bottom: 10px;
	width: 138px;
}
.julkaisuDataSetContainer label{
	display: block;
	float: left;
	margin-bottom: 10px;
	width: 146px;
	font-size: 12px;
}
.sarjaDataSetContainer label{
	display: block;
	float: left;
	margin-bottom: 20px;
	width: 146px;
}
.aineistoDataSetContainer input{
	width: 80px;
	font-size:12px;
	margin-right: 10px;
}
.julkaisuDataSetContainer input{
	width: 150px;
	font-size:12px;
	margin-bottom: 10px;
}
.sarjaDataSetContainer input{
	width: 450px;
	margin-right: 10px;
	padding: 5px;
}
.aineistoDataSetContainer select{
	font-size: 12px;
	width: 85px;
	margin-right: 10px;
}
.julkaisuDataSetContainer select{
	font-size: 12px;
	width: 155px;
	margin-right: 10px;
}
.sarjaDataSetContainer select{
	width: 465px;
	margin-right: 10px;
	padding: 5px;
}
.julkaisuDataSetContainer textarea{
	font-size: 12px;
	width: 775px;
	height: 50px;
}
.aineistoDataSetContainerTopRow{
	float: left;
}
.aineistoDataSetContainerTopRow label{
	display: block;
	float: left;
	margin-bottom: 10px;
	width: 130px;
}
.tab2 .aineistoDataSetContainerTopRow label{
	display: block;
	float: left;
	margin-bottom: 20px;
	width: 250px;
	margin-left: 20px;
}
.tab2 .aineistoDataSetContainerTopRow input{
	padding: 5px;
}
.tab3 .aineistoDataSetContainerTopRow label{
	display: block;
	float: left;
	margin-bottom: 20px;
	width: 250px;
	margin-left: 20px;
}
.tab3 .aineistoDataSetContainerTopRow input{
	padding: 5px;
}
.sarjaDataSetContainer textarea{
	font-size: 12px;
	width: 460px;
	height: 200px;
}
.aineistoDataSetContainerTopRow input{
	width: 321px;
	margin-right: 10px;
}
.prevNextContainer{
	display: inline-block;
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}
.aineistoPrevNextContainer{
	display: inline-block;
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
	width:900px;
}
.aineistoPrevNextContainer h1.prev{
	font-size: 22px;
	float:right;
	background: #009EE0;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-top: 10px;
}
h1.prev{
	font-size: 22px;
	float:left;
	background: #009EE0;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.aineistoPrevNextContainer h1.next{
	font-size: 22px;
	float:right;
	background: #009EE0;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
}
h1.next{
	font-size: 22px;
	float:right;
	background: #009EE0;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
}

.sarjaSearchFormButtonsHolder{
    clear: left;
    display: inline-block;
    margin-top: 20px;
    text-align: right;
    width: 920px;
}
.sarjaSearchFormButtonsHolder input{
	margin-left: 20px;
}

.aineistoTableButtonsHolder {
    clear: left;
    display: inline-block;
    text-align: right;
    width: 920px;
}

.aineistoTableActionLinkHolder {
    clear: left;
    display: inline-block;
    text-align: right;
    width: 920px;
    font-size: 12px;
}

.logoutLink{
	text-decoration: none;
	color: #000;
	margin-bottom: 10px !important;
	display: inline-block;
	text-align: right;
	width: 160px;
}
#sanastoTable, #vakiotekstiTable{
	width: 100%;
}
#sanastoTable tbody tr, #vakiotekstiTable tbody tr{
	border: solid 1px #009EE0;
}
#sanastoTable tbody tr td, #vakiotekstiTable tbody tr td{
	padding: 5px;
}
#sanastoTable tbody tr td a, #vakiotekstiTable tbody tr td a{
	display: block;
}


.dataTables_filter{
	text-align: right;
	padding: 5px;
}
.DataTables_sort_wrapper{
	text-align: left;
	padding-left: 5px;
	color: #000;
	
}
.dataTables_filter label{
	color: #fff;
}
/*POPUP CSS*/

.popup_background {
    z-index: 2000; 
  }
  .popup_wrapper {
    z-index: 2001;
  }

  .popup_align,
  .popup_content {
    *display: inline;
    *zoom: 1;
  }
/* /POPUP CSS*/
.sanastoContainer{
	width: 500px;
	height: 630px;
}
.ui-state-disabled{
	color: #ccc !important;
	opacity: 1 !important;
}
.popupContainer .ui-state-default{
	padding: 0 15px !important;
}
.popupButtonsHolder{
	margin-top: 20px;
	text-align: right;
}
.popupRowHolder{
	margin: 10px 0; 
}
.popupRowHolder label{
	display: block;
	float: left;
	padding-top: 5px;
	width: 180px;
}
.popupRowHolder input{
	width: 300px;
	padding: 5px;
}

.aineistoRowTitle, .julkaisuRowTitle {
	font-size: 12px;
	padding-left: 10px;
}

#vakiotekstiTable td {
	vertical-align: middle;
	padding: 10px;
}

#aineistoAddNewFileContainer {
	display: block;
	float: right;
	padding: 5px;
}

#aineistoAddNewFile {
	padding: 5px;
}

.aineistoAddNewFileTD {
	padding: 3px;
}

#aineistoAddNewFileButton {
	position: relative;
	float: right;
}

#aineistoFileInfoTitle {
	padding: 10px;
}

#aineistoFileHistoryTitle {
	padding-left: 10px;
}

#aineistoCodebookTitle {
	padding: 10px;
}

#aineistoVariables {
	padding: 10px;
}

.variableParent {
	padding: 5px
}

.variableChildren {
	padding-top: 10px;
	display: none;
}

.variableRow {
	padding-left: 10px;
}

.variableRow label {
	padding-right: 5px;
}
