@import "global";

nav {
	display: inline-block;

	.mainNavUl{
		li {
			float: left;

			a {
				padding: 60px 8px 20px 10px;
				display: block;
				background-color: $pageColorA;
				text-decoration: none;
				color: $pageColorE;
				margin-right: 1px;

				&.selected {
					background-color: $pageColorB;
					color: $pageColorA;
				}

				&:hover {
					text-decoration: underline;
					@include transition(0.25s);
				}
			}
		}
	}	
}

// Nimeäminen
.searchContainer{
	float: right;
	margin-top: 20px;

	.searchInput {
		width: 150px;
		padding: 5px;
	}

	.searchButton{
		background-color: $pageColorB;
		border: 1px solid $pageColorB;
		border-radius: 0 7px 7px 0;
		color: $pageColorA;
		height: 29px;
		position: absolute;
		right: -3px;
		//top: 1px;
	}
}

.languageSelect {
	float: right;
	margin-top: 55px;
	padding-right: 15px;
}

.logoutLink{
	text-decoration: none;
	color: #000;
	margin-bottom: 10px !important;
	display: inline-block;
	text-align: right;
	width: 160px;
}

.tabs{
	position: relative;
	display: block;
	clear:both;
	min-height: 275px;
}
.tabs2 {
	display: block;
	clear:both;
	min-height: 275px;
}
.filing, .studylevel, .variables, .files, .codebook, .errors, .packages, 
.standardTexts, .userInfo {
	display: none;
}

@mixin tabNavi($bottomMargin, $topMargin, $leftMargin) {
	display: inline-block;
	list-style: none outside none;
	margin-bottom: $bottomMargin;
	margin-top: $topMargin;
	margin-left: $leftMargin;
	float: left;

	li {
		float: left;

		a {
			background-color: $pageColorA;
			color: $pageColorE;
			display: block;
			padding: 10px;
			text-decoration: none;
			cursor:pointer;

			&.selected {
				background-color: $pageColorB;
				color: $pageColorA;
				cursor: default;
			}
		}
	}
}

.tabNavi ul {
	@include tabNavi(10px, -10px, 10px); 
}

.materialTabNavi ul {
	@include tabNavi(10px, 0px, -20px); 
}

