label {
    padding: 5px 0px;
    font-family: "PT Sans Regular","Trebuchet MS",Helvetica,"Helvetica Neue",sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hiddenFile {
    opacity: 0;
    position: absolute;
    top: -9001px;
}

/* File upload form */
.fileUploadForm .fileSelector {

}
.fileUploadForm .fileSelector .inputSpan {
    display: inline-block;
    width: 50%;
}

.fileUploadForm .fileSelector .inputSpan input[type="text"] {
    width: 100%;
}