/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*
Temporary Bootstrap customization rules at http://getbootstrap.com/customize/

Colors:
@brand-primary #009ee0
*/

/* Bootstrap overrides */
.navbar-default {
    background-color: white;
    border: 0px;
    border-top: 3px solid #005993;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #005993;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: #005993;
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: #009ee0;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 60px 10px 15px 10px;
    }
}

.table-hover tbody {
    cursor: pointer;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #009ee0;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: default;
}

.panel-group>.panel-default>.panel-heading {
    color: #3383bb;
}

.panel-group>.panel>.panel-heading>.panel-title {
    font-size: 20px;
}

.page-header {
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    background-color: #009ee0;
    margin: 0px -15px 10px -15px;
    border-bottom: none;
}

.panel-group .panel .panel .panel-heading {
    border-bottom: 1px solid;
    border-color: inherit;
}

.panel-group .panel .panel .panel-footer {
    border-top: 1px solid;
    border-color: inherit;
}

.panel-group .panel .panel {
    margin-bottom: 20px;
}

.panel-footer {
    padding: 5px 15px;
}

.table {
    table-layout: fixed;
}

.list-group-condensed > li,
.list-group-condensed > a {
    padding: 5px;
}

/*
 Note: can't switch to 3.2.0, since it can't handle scrolling with stacked modal windows.
 More specifically, when modal is closed, class "modal-open" is removed from body, even if there's other modals open.
 */
/* animated progress bar from Bootstrap 3.2.0 */
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

/* Metka code */
body {
    height: 100%;
    background-color: #4a4647;
    color: #242424;
    font-family: "PT Sans Regular","Trebuchet MS",Helvetica,"Helvetica Neue",sans-serif;
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

header .headerContainer {
    margin: 0 auto;
    padding: 0;
    width: 1024px;}

header .headerContainer #logo {
    background: url("../images/img_fsd_logo_fi.png") no-repeat scroll 0 0 transparent;
    clear: left;
    float: left;
    height: 46px;
    margin: 15px 25px 10px 0;
    text-indent: -9999px;
    width: 207px;
}

nav .mainNavUl {
    list-style: none;
}
nav .mainNavUl li {
    float: left;
}
nav .mainNavUl li a {
    padding: 60px 8px 20px 10px;
    display: block;
    background-color: white;
    text-decoration: none;
    color: #005993;
    margin-right: 1px;
}
nav .mainNavUl li a.selected {
    background-color: #009ee0;
    color: white;
}
nav .mainNavUl li a:hover {
    text-decoration: underline;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.wrapper {
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: #e1dfdc;
    display: inline-block;
    padding: 20px 0;
}

.content {
    padding-bottom: 10px;
    min-height: 600px;
    background-color: white;
    box-shadow: 10px 10px 5px #888;
}

.tabNavi a {
    display: inline-block;
    background-color: white;
    color: #005993;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.tabNavi a.selected {
    background-color: #009ee0;
    color: white;
    cursor: default;
}

.tabs {
    position: relative;
    display: block;
    clear: both;
    min-height: 30px;
}

.popupContainer .popupButtonsHolder {
    margin-top: 20px;
    text-align: right; }

.largePopupContainer .popupButtonsHolder {
    margin-top: 20px;
    text-align: right; }

.label {
    padding: .3em .6em;
}

/*************
 * Clean css *
 *************/

/* Metka CSS */

.temporary {
    color: red;
}
.upperContainer {
    margin: 10px;
    font-size: 12px;
}

.contentBox {
    background-color: #eaeaea;
    border: 1px solid #dbdbdb;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.searchResult {
    margin: 10px;
    display: block;
}

.button {
    display: inline;
    padding: 5px;
    outline: none;
    background-color: #009ee0;
    color: white;
    border: 1px solid #009ee0;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.button :focus {
    box-shadow: 0 0 8px #005993;
    -webkit-box-shadow: 0 0 8px #005993;
    -moz-box-shadow: 0 0 8px #005993; }
.button:disabled {
    background-color: #c8c8c8;
}

.borderbutton {
    border: 1px solid white;
}

.containerHidden,
.nav>li.containerHidden {
    display: none;
}

th {
    font-weight: bold;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-group-translation-lang>.btn {
    padding-left: 10px;
    padding-right: 10px;
}

/*variables grouping container*/
.grouping-container {
    height: 460px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.table th > .label-lang,
.panel-heading > .label-lang {
    font-size: 55%;
}

.label-EN {
    color: white;
    background-color: #02267e;
}

.label-SV {
    color: #026ba8;
    background-color: #fecc02;
}

.hiddenByTranslationState {
    display: none;
}

.panel-body.richtext {
    overflow: auto;
    max-height: 200px;
}