@import "global";

#vocabularyTable, #standardTextTable{
	width: 100%;

	tr {
		border: solid 1px $pageColorB;
		td {
			padding: 5px;

			a {
				display: block;
			}
		}
	}
}

#vocabularyDialogTable {
	width: 600px;
}

#standardTextTable td {
	vertical-align: middle;
	padding: 10px;
}

#userInfoContainer {
	position: relative;

	.userPropertyRow {
		padding-top: 25px;

		.userProperty, .userValue {
			float: left;
			padding-left: 10px;
			position: absolute;
		}
		.userValue {
			left: 200px;
		}
	}
}

.settingsTableActionLinkHolder {
	@include actionLinkHolder($settingsTableActionLinkHolderWidth, 15px)
}

.settingsButtonsHolder {
	@include buttonsHolder($settingsButtonsHolderWidth);
}